.reset-password-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link {
    color: #4c4cff;
}

.link:hover {
    color: white;
}
