.ingredient-list {
    height: calc(100vh - 540px);
    overflow: hidden;
    overflow-y: auto;
}

.ingredient-list::-webkit-scrollbar {
    width: 10px;
}

.ingredient-list::-webkit-scrollbar-thumb {
    border: 2px solid #2F2F37;
    border-radius: 6px;
    background-color: #8585AD;

}

.ingredient-list::-webkit-scrollbar-track {
    background-color: #2F2F37;
}
