.ingredient-card__wrapper {
    display: flex;
}

.ingredient-card {
    display: flex;
    flex-direction: column;
    width: 272px;
    align-items: center;
    cursor: pointer;
}

.ingredient-card__price {
    display: flex;
    justify-content: center;
}

.ingredient-card__counter {
    display: flex;
    position: relative;
}
